.favourite {
    display: flex;
    justify-content: center;
    
    img {
        width: 250px;
        height: 300px;
    }
}


@media (max-width: 800px) {
    img {
        width: 200px !important;
        height: 250px !important;
    }

}