
/* HEADER */
header {
    font-family: 'Josefin sans', sans-serif;
}

.navbar {
    font-size: 1.5rem !important;
}

.my_nav {
    display: grid;
    grid-template-columns: 35px auto;
    grid-template-areas: "nav_icon nav_text";
}

.nav_text {
    padding-top: 5px;
    padding-left:10px;
    color: white;
}

.nav_icon {
    align-self: center;
}

.form-control {
    width: 500px !important;
    max-width: 500px !important;
    background-color: lightslategrey !important;
    opacity: 0.9 !important;
}

.form-control:focus {
    border-color: blueviolet !important;
    box-shadow: 0 0 0 0.25rem rgba(133, 13, 253, 0.25) !important;
    color: white !important;
}



/* MAIN */ 

main {
    background-color: black;
    color: white;
}

.image-container {
    position: relative;
    transition: transform 0.2s;
}

.image-container:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}