* { 
    font-family: 'Josefin sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh; 
    background-color: black;
}


/* HEADER */

header {
    background-color: lightslategrey !important;
    height: 8.2vh;
}

/* MAIN */ 

main {
    background-color: black;
    color: white;
    padding-top: 3rem;
}



/* FOOTER */ 

footer {
    background-color: white;
    height: 3rem;
}